<header>
    <nav>
        <ul class="nav navbar nav-tabs">
            <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link active">Home</a></li>
            <li class="nav-item"><a href="{{ url_for('bunnies') }}" class="nav-link">Bunnies</a></li>
            <li class="nav-item"><a href="{{ url_for('carrots') }}" class="nav-link">Carrots</a></li>
            <li class="nav-item"><a href="{{ url_for('register') }}" class="nav-link">Register</a></li>
            <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link">Login</a></li>
        </ul>
    </nav>
    <hr style="clear:both">
</header>