{% extends "layout.html" %}

{% block content %}
<h1>Bunnies <img src="static/images/favicon-32x32.png" width="32" height="32"></h1>

<h3>Hottest Bunnies Winter 2020</h3>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Bunny ID</th>
                <th scope="col">Name</th>
                <th scope="col">Bio</th>
                <th scope="col">Score</th>
                <th scope="col">Origin</th>
                <th scope="col">Support</th>
                <th scope="col">Boo</th>
            </tr>
        </thead>
        <tbody>

            {% for bunny in data %}
            <tr>
                <td scope='row'>{{bunny['id']}}</td>
                <td>{{bunny['name']}}</td>
                <td>{{bunny['bio']}}</td>
                <td>{{bunny['score']}}</td>
                <td>{{bunny['origin']}}</td>
                <td>
                    <form action="{{url_for('vote')}}" method='POST'>
                    <input type='hidden' name='id' value="{{bunny['id']}}">
                    <input type='hidden' name='name' value="{{bunny['name']}}">
                    <input type='hidden' name='bio' value="{{bunny['bio']}}">
                    <input type='hidden' name='upvote' value="True">
                    <button>Vote++</button>
                    </form>
                </td>
                <td>
                    <form action="{{url_for('vote')}}" method='POST'>
                    <input type='hidden' name='id' value="{{bunny['id']}}">
                    <input type='hidden' name='name' value="{{bunny['name']}}">
                    <input type='hidden' name='bio' value="{{bunny['bio']}}">
                    <input type='hidden' name='upvote' value="False">
                    <button>Vote--</button>
                    </form>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}