{% extends "layout.html" %}

{% block content %}
<h1>Carrots   <img src="static/images/carrot-180x180.png" style="padding-right: 2px" width="32" height="32" ></h1>

<h3>A Carrot for your thoughts?</h3>

<div>
    <table class="table table-hover text-left">
        <thead>
            <tr>
                <th scope="col">Carrot ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Taste</th>
                <th scope="col">Texture</th>
                <th scope="col">Add to Basket</th>
            </tr>
        </thead>
        <tbody>

            {% for bunny in data %}
            <tr>
                <td scope='row'>{{bunny['carrot_id']}}</td>
                <td>{{bunny['name']}}</td>
                <td>{{bunny['description']}}</td>
                <td>{{bunny['taste']}}</td>
                <td>{{bunny['texture']}}</td>
                <td>
                    <button>Buy</button>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}