{% extends "layout.html" %}

{% block content %}
<h1 style='text-align:center'>{{title}}</h1>

<div>
    <div class="col-md-6 offset-md-3">
        <br>
        <form name="login" action="login" method="post" novalidate>
            <fieldset class='form-group text-left'>
                {{ form.hidden_tag() }}

                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=35, placeholder='Enter email') }}<br>

                    {% for error in form.email.errors %}
                    <span class='error-message'>{{ error }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=16, type='password', placeholder='Enter password') }}<br>

                    {% for error in form.password.errors %}
                    <span class='error-message'>{{ error }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.submit(class_="btn-submit") }}
                </p>
                <!-- <label for="username"><b>Username or email</b></label>
            <input type="text" placeholder="Username" name="username" required>
            <br>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Password" name="password" required> -->
                <!-- <br class="clear">
            <input class="btn-submit" style='background-color:orangered' type="submit" name="submit" value="Login"> -->
            </fieldset>
        </form>
        <h5 style="text-align:center">Not registered? <a href="{{url_for('register')}}">Register</a></h5>
    </div>
</div>
{% endblock %}